######################################################
# @file     .gitignore
# @brief    Ignore files for Git.
# @author   dragon-archer <dragon-archer@outlook.com>
# @license  MIT License
#           Copyright (C) 2019 dragon-archer
######################################################

### Begin Microsoft Visual Studio ###

.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.ipch

### End Microsoft Visual Studio ###

### Begin Build ###

# Directories
build/
[xX]64/
[xX]86/
[rR]elease/
[dD]ebug/
/**/[xX]64/
/**/[xX]86/
/**/[rR]elease/
/**/[dD]ebug/

# Targets
*.dll
*.lib
*.exe
*.def

# Objects
*.obj

# Logs
*.log
*.tlog
*.lastbuildstate
unsuccessfulbuild

# Debug Libraries
*.pdb
*.idb
*.iobj
*.ipdb

# Others
*.ilk

### End Build ###

### Begin CMake ###

CMakeSettings.json

### End CMake ###

### Begin CPack ###

pack/

### End CMake ###
